aiofiles
asttokens
click
colorama
comm
contourpy
cycler
decorator
executing
filelock
fonttools
idna
ipython
ipython_pygments_lexers
ipywidgets
jedi
joblib
jupyterlab_widgets
kiwisolver
matplotlib
matplotlib-inline
nltk
numpy
opencv-python
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
pure_eval
Pygments
pyparsing
python-dateutil
pytz
regex
scikit-learn
scipy
six
stack-data
threadpoolctl
tqdm
traitlets
tzdata
uritools
urlextract
wcwidth
widgetsnbextension
urlextract
requests
seaborn
