contourpy
cycler
fonttools
joblib
kiwisolver
matplotlib
numpy
opencv-python
packaging
pandas
pyparsing
python-dateutil
pytz
scikit-learn
scipy
six
threadpoolctl
tzdata
ipywidgets
aiofiles
pillow
seaborn
request
gdown

